<form class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
  <div class="modal-body" style="margin: 0 20 5 20;">
    <h2 style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{title}} {{ project.id > 0 ?
      project.name : ''}}</h2>
    <hr>
    <mat-dialog-content class="tab-modal">
      <tabset>
        <tab [heading]="'Project Detail' | localize" class="pt-3 px-2">
          <div class="m-t-10">
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="projectId">
                {{ "Client Name" | localize }}
              </label>
              <div class="col-md-9">
                <select name="clientId" (change)="changeCustomer($event)" class="form-control" id="clientId" required
                  [(ngModel)]="project.customerId" #clientIdModel="ngModel" #clientIdEl>
                  <option [value]="client.id" *ngFor="let client of listCustomer">{{ client.name }}</option>
                </select>
                <abp-validation-summary [control]="clientIdModel" [controlEl]="clientIdEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="name">
                {{ "Project Name" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="project.name"
                  #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="note">
                {{ "Project Note" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="note" id="note" required [(ngModel)]="project.note"
                  #noteModel="ngModel" #noteEl />
                <abp-validation-summary [control]="noteModel" [controlEl]="noteEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="code">
                {{ "Project Code" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="code" id="code" required [(ngModel)]="project.code"
                  #codeModel="ngModel" #codeEl />
                <abp-validation-summary [control]="codeModel" [controlEl]="codeEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="code">
                {{ "Date" | localize }}
              </label>
              <div class="col-md-9" style="display: flex; align-items: center;">
                <div class="col-md-6" style="display: flex; align-items: center;">
                  <div class="col-md-4">From</div>
                  <div class="col-md-8">
                    <input type="date" class="form-control" name="startDate" id="startDate" required
                      [(ngModel)]="project.startDate" #startDateModel="ngModel" #startDateEl />
                  </div>
                </div>
                <div class="col-md-6" style="display: flex; align-items: center;">
                  <div class="col-md-4">To</div>
                  <div class="col-md-8">
                    <input type="date" class="form-control" name="endDate" id="endDate" required
                      [(ngModel)]="project.endDate" #endDateModel="ngModel" #endDateEl />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab [heading]="'Team' | localize" class="pt-3 px-2">
          <div style="display:flex;">
            <div [ngClass]="isShowTeamMember ? 'table-team-selected' : 'full-width'">
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title align="center">
                    <strong>Selected member</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row-fluid" style="margin-top: -15px;">
                  <div class="col-md-4 c-12 pl-0">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search by name, email"
                        [(ngModel)]="searchProjectMemberText" name="searchMember" (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()" (keyup)="filterProjectMember();$event.stopPropagation()">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 c-12 pl-0 show-member">
                    <button name="isShowMember" mat-raised-button color="primary" type="button"
                      (click)="showTeamMember(); $event.stopPropagation()">
                      {{isShowTeamMember ? "Exit add" : "Add users"}}
                    </button>
                  </div>
                </div>

                <div class="mat-dialog-content list-project-member">
                  <table class="table table-hover table-striped list-user">
                    <tr *ngFor="let member of displayProjectMembers; let i = index">
                      <td style="display: flex; width: 100%;">
                        <button type="button" [name]="'leftRemoveBtn-'+member.userId"
                          (click)="removeMemberFromProject(member, i)" mat-icon-button>
                          <mat-icon>clear</mat-icon>
                        </button>
                        <div class="user-infor" style="display: flex;">
                          <div style="display: flex;">
                            <div style="margin-left: 10px;">
                              <p style="margin-bottom: 5px; margin-top: 5px;">
                                <strong style="margin-right: 5px;">{{member.name}}</strong>
                              </p>
                              <p>
                                <span>{{member.emailAddress}}</span>
                                <!-- <span style="margin-left: 10px;font-weight: bold;" *ngIf="member.isActive == false">
                                  [Inactive]
                                </span> -->
                              </p>
                            </div>

                          </div>
                        </div>
                      </td>
                      <td class="w-30vw">
                          <select [name]="'userTypeBtn-'+member.userId" matInput [(ngModel)]="member.ptype"
                            [ngModelOptions]="{standalone: true}" required>
                            <option [value]=0>
                              Member
                            </option>
                            <option [value]=1>
                              PM
                            </option>
                            <option [value]=3>
                              DeActive
                            </option>
                          </select>
                      </td>
                      <td class="w-30vw">
                      </td>
                      <td>
                        <button [name]="'rightRemoveBtn-'+member.userId" (click)="removeMemberFromProject(member, i)"
                          type="button" mat-icon-button>
                          <i class="fa-solid fa-angle-right" style="font-size: 20px;"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
            <div *ngIf="isShowTeamMember" class="table-team-select">
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title align="center">
                    <strong>Select team member</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row-fluid" style="margin-top: -15px;">
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Type</mat-label>
                      <mat-select name="type" (value)='userTypeForFilter' (selectionChange)="searchMember()">
                        <mat-option value="-1">All</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search by name, email" [(ngModel)]="searchMemberText"
                        name="searchMember" (keyup)="searchMember()">
                    </mat-form-field>
                  </div>
                </div>
                <div class="mat-dialog-content list-member">
                  <table class="table table-hover table-striped list-user">
                    <tr *ngFor="let mem of displayActiveMembers; let i = index">
                      <td (click)="selectTeam(mem, i)" style="display: flex;">
                        <button [name]="'addBtn-'+mem.id" type="button" mat-icon-button>
                          <i class="fa-solid fa-angle-left" style="font-size: 20px;"></i>
                        </button>
                        <div class="user-infor" style="display: flex;">
                          <div style="display: flex;">
                            <div style="margin-left: 10px;">
                              <p style="margin-bottom: 5px; margin-top: 5px;">
                                <strong style="margin-right: 5px;">{{mem.name}}</strong>

                                <span style="margin-left: 10px;font-weight: bold;" *ngIf="mem.isActive == false">
                                  [Inactive]
                                </span>
                              </p>
                              <p><span>{{mem.emailAddress}}</span></p>
                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </tab>
      </tabset>
    </mat-dialog-content>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>